@tailwind base;
@tailwind components;
@tailwind utilities;

@import "daisyui/dist/daisyui.css";

@font-face {
  font-family: dmsans;
  src: url(/fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: dmsansmd;
  src: url(/fonts/DMSans-Medium.ttf);
}

@font-face {
  font-family: dmsansbold;
  src: url(/fonts/DMSans-Bold.ttf);
}

@layer components {
  .kflex {
    @apply;
  }
}

.header-img {
  background-image: url(https://res.cloudinary.com/duxfzk6uy/image/upload/v1682675731/Kanoms/Photo_vcj3ra.png);
}
